/* reset */
html,
body,
#root {
    height: 100%;
    color: #333333;
}
body {
    margin: 0;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

/*  Do not break Korean words  */
:lang(ko) {
    word-break: keep-all;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.content-wrapper {
    padding: 37px 30px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* login */
.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}
